/* regole generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

.container {
    margin: 0 auto;
    width: 85%;
}

.col {
    margin-bottom: 20px;
    border-radius: 2rem;
    /* debug */
    height: 500px;
    background-color: #b5ddff;
}

.image-100 {
    max-width: 100%;
}

/* regole header */

header {
    height: 70px;
    margin-bottom: 40px;
    background-color: #0084fd;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header nav {
    display: none;
}

header .fa-bars {
    color: #fff;
    font-size: 1.5rem;
}

/* regole main */
main > section {
    margin-bottom: 40px;
}
/* regole feature */

.feature .col {
    background-color: #b5ddff;
}
/* regole development */
.development {
    background-color: #9792e4;
}

/* BREAKPOINT TABLE */
@media all and (min-width:650px) {

    /* regole feature */
    .feature .container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        justify-content: space-between;
    }

    .feature .col {
        width: calc(100% / 3 - 20px);
    }

    .col.col-x2 {
        width: calc((100% / 3 * 2) - 10px) ;
    }
}


/* BREAKPOINT DESKTOP */
@media all and (min-width:1100px) {
    /* regole generali */
    .container {
        width: 70%;
    }

    /* regole header */
    #hamburger {
        display: none;
    }

    header nav {
        display: block;

        /* debug */

        background-color: #fff;
        height: 40px;
        width: 200px;
    }
}