/* regole generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

.container {
    margin: 0 auto;
    width: 85%;
}

.col {
    margin-bottom: 20px;
    border-radius: 2rem;
    /* debug */
    height: 500px;
    background-color: #b5ddff;
}

.image-100 {
    max-width: 100%;
}

.txt-center {
    text-align: center;
    /* debug */
    background-color: brown;
    height: 300px;
    margin-bottom: 40px;
}

.lilac-bg {
    background-color: #9792e4;
}
/* regole header */

header {
    height: 70px;
    margin-bottom: 40px;
    background-color: #0084fd;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header nav {
    display: none;
}

header .fa-bars {
    color: #fff;
    font-size: 1.5rem;
}

/* regole main */
main > section {
    margin-bottom: 40px;
}

/* regole feature */

.feature .col {
    background-color: #b5ddff;
}

/* regole development */
.development {
    padding: 70px 0 20px;
}

.development .col-sx {
    margin-bottom: 20px;
    /* debug */
    height: 500px;
    background-color: #b5ffc6;
}

/* regole benefits */
.benefits {
    padding: 70px 0 20px;
}

/* BREAKPOINT TABLE */
@media all and (min-width:650px) {
    /* regole main */

    main .col-sx {
        /* debug */
        height: 500px;
        background-color: #b5ffc6;
    }
    
    main .col-dx {
        /* debug */
        height: 500px;
        background-color: #789d28;
    }

    /* regole feature */
    .feature .container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        justify-content: space-between;
    }

    .feature .col {
        width: calc(100% / 3 - 20px);
    }

    .col.col-x2 {
        width: calc((100% / 3 * 2) - 10px) ;
    }

    /* regole testimonials */
    .testimonials .row {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;  
    }

    .testimonials .col-sx {
        width: 30%;
    }
    .testimonials .col-dx {
        width: 70%;
    }

    /* regole benefits */
    .benefits .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 20px;
    }

    .benefits .col {
        width: calc(50% - 20px);
    }
}


/* BREAKPOINT DESKTOP */
@media all and (min-width:1100px) {
    /* regole generali */
    .container {
        width: 70%;
    }

    /* regole header */
    #hamburger {
        display: none;
    }

    header nav {
        display: block;

        /* debug */

        background-color: #fff;
        height: 40px;
        width: 200px;
    }

    /* regole development */
    .development .container {
        width: 60%;
        display: flex;
    }

    .development .col-sx,.development .col-dx {
        width: 50%;
        /* debug */
        height: 700px;
        background-color: #0084fd;
    }

    .development .col-dx {
        display: flex;
        align-items: end;
    }

    .development .col-dx .col {
        margin-bottom: 0;
        /* debug */
        width: 100%;
    }

    /* regole benefits */
    .benefits .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 20px;
    }

    .benefits .col {
        width: calc(100% / 3 - 20px);
    }
}